<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="127.0.0.1"/>
    <!--<add key="server" value="127.0.0.1\SQLEXPRESS"/>-->
    <add key="database" value="SI2"/>
    <add key="schema" value="app"/>
    <add key="tablePageSize" value="10"/>
    <add key="admin" value="sa"/> <!--Não va à tabela de utilizadores validar se existe-->
    <add key="adminPass" value="sa"/>
    <add key="dbUser" value="app_user"/>
    <add key="dbPass" value="app_user"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>